*{
  box-sizing: border-box;
}
body, html{
  font-family: Inter;
margin: 0;
padding: 0;
}
.body-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* SIGN UP and SIGN IN FORM */
.signup-form,
.signin-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form, 
.signin-container{
  padding-inline: 27px;
}
.heading-one{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
.signup-container,
.signin-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 20px;
}
.signup-container > input{
  border: 1px solid rgba(209, 213, 219);
  height: 57px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  border-radius: 50px;
  font-size: 1.375rem;
} .signup-container > input::placeholder,
.signin-container > input::placeholder{
  font-size: 1.1rem;
}
.signup-container > input:focus,
.signin-container > input:focus{
  outline: none;
}
.signin-container > input{
  border: none;
  border-bottom: 3px solid #D9D9D999; 
  outline: none;
  padding: 8px 4px; 
  background: transparent; 
  height: 57px;
  font-size: 1.375rem;
  text-indent: 10px;
}
.signup-container .have-account{
  align-self: flex-start;
  font-size: 0.937rem;
}
.signup-container .have-account a{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
}
.signup-container .terms-and-condi{
  font-size: 0.937rem;
  line-height: 1.8;
  text-align: center;
}
.signup-container > button,
.signin-container > button{
  background-color: #FFA500;
  border: none;
  width: 100%;
  border-radius: 57px;
  height: 57px;
  margin-top: 22px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.signin-container > button{
  margin-bottom: 20px;
}
.foodmed{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.foodmed img{
  width: 180px;
}
.foodmed>h1{
  margin-left: -40px;
  margin-top: -30px;
}
.signin-form .forgot-password{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signin-form .forgot-password p{
  margin: 0;
}
.signin-form .forgot-password a{
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 0.936rem;
}
/* FOOTER */
footer{
  flex-shrink: 0;
  color: #aaaaaa;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: auto;
}