
.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: white;
  padding: 1rem;
}

.carousel-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

.get-started-btn {
  background-color: #FFA500;
  border: none;
  width: 100%;
  border-radius: 57px;
  height: 57px;
  margin-top: 22px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.skip-btn {
  position: absolute;
  top: 40px;
  right: 20px;
  background: none;
  border: 1px solid #FFA500;
  background-color: black;
  color: whitesmoke;
  padding: 8px 14px;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
}


.carousel-indicators {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

.dot {
  height: 6px;
  width: 40px;
  background-color:whitesmoke;
  border-radius: 15px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 30px;
}

.dot.active {
  background-color: #FFA500;
}
/* Background image */
.bg-page {
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

/* Custom backgrounds */
.bg2 {
  background-image: url('../assets/bg2.png');
}

.bg3 {
  background-image: url('../assets/bg3.png');
}

.bg4 {
  background-image: url('../assets/bg4.png');
}

